@import "variables";

.footer {
    background-color: $grey-btn-color;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center; 

    &-separator {
        width: 100%;
        height: 4px;
        background-color: $white-color;
        position: relative;
        margin-bottom: -4px;
    }

    &-container {
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 40px;

        @media (max-width: 992px) {
            flex-direction: column;
            padding-top: 23px;
            padding-bottom: 98px;
            justify-content: center;
            align-items: center;
        }
    }

    &-address {
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: $main-regular-color;
        text-align: center;

        &-city {
            font-weight: bold;
        }

        &-link {
            font-size: 12px;
            font-weight: bold;
            color: $indicators-blue-color;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 500px) {
                margin-top: 10px;
            }
        }
    }

    &-phone {
        font-size: 16px;
        font-weight: bold; 
        color: $dark-regular-color;
        line-height: 19px;
        text-align: center;

        @media (max-width: 500px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &-email {
        font-size: 16px;
        font-weight: bold; 
        color: $indicators-blue-color;
        line-height: 19px;
        text-align: center;
    }

    &-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $grey-color;
        display: inline-flex;
        margin-bottom: 2px;

        @media (max-width: 500px) {
            display: none;
        }

        &-first {
            margin-left: 31px;
            margin-right: 10px;
        }

        &-second {
            margin-left: 10px;
            margin-right: 1px;
        }

        &-third {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &-copyright {
        text-align: right;
        font-size: 16px;
        line-height: 19px;
        color: $grey-color;
        text-align: center;

        @media (max-width: 992px) {
            margin: 20px;
        }
    }

    &-first-line {
        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-second-line {
        margin-top: 22px;

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}