.navbar {
    position: absolute;
    width: 100%;
    margin: 50px 0;

    @media (max-width: 992px) {
        margin: 20px 0;
    }

    &-nav {
        .nav-item {
            .nav-link {
                color: white;
                font-size: 18px;
                text-align: end;
            }
        }
    }

    &-phone {
        font-weight: bold;
        text-align: end;
        margin: 0 10px 0 1px;
    }

    &-dot {
       width: 6px;
       height: 6px;
       border-radius: 50%;
       background-color: $white-color;
    }

    .navbar-toggler {
        border: 0;

        &-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        &:focus {
            box-shadow: none;
        }

        @media (max-width: 992px) {
            order: 3;
        }
    }

    &-language {
        display: flex;

        &-item {
            font-size: 12px;
            color: white;
            letter-spacing: 1px;
            font-weight: 700;
            text-decoration: none;
            padding: 5px 6px;
            border-radius: 8px;

            &.active {
                background-color: $red-color;
            }
        }
    }

    .navbar-container {
        flex-wrap: wrap;
    }

    &-brand {
        order: 1;

        @media (max-width: 992px) {
            order: 2;
        }
    }

    &-top {
        order: 2;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: auto;
        align-items: center;

        @media (max-width: 992px) {
            order: 1;
            width: 100%;
            justify-content: space-between;
        }
    }

    &-collapse {
        order: 3;
        margin-top: -40px;
    }

    &-address, &-phone {
        color: white;
        text-decoration: none;
        margin: 0 10px 0 1px;
    }

    &-address {
        margin: 0 10px 0 16px;
    }

    &-social {
        margin-left: 10px;
    }

    @media (max-width: 992px) {
        &-collapse {
            margin-top: 0px;
        }
         
        &-container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-address, &-social, &-dot {
            display: none;
        }

        &-logo {
            max-width: 78px;
        }

        &-brand {
            margin-top: 10px;
        }

        &-language, &-phone {
            margin-bottom: 10px;
        }

        &-phone {
            color: $grey-color;
        }
    }

    @media (max-width: 210px) {
        &-phone {
            display: none;
        }

        &-nav {
            .nav-item {
                .nav-link {
                    text-align: start;
                }
            }
        }
    }
}

.second-page {
    .navbar {
        position: static;

        &-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        &-nav .nav-item .nav-link {
            color: $indicators-blue-color;
        }

        &-nav .nav-item .nav-link-active {
            color: $red-color;
            border-bottom: 2px solid $red-color;
            padding: 8px 0 0 0;
            margin: 0 8px;

            @media (max-width: 992px) {
                margin-right: 0;
                border-bottom: 0px;
                text-decoration: underline;
            }
        }
    }

    .navbar-top {
        width: 57%;

        a, p {
            color: $grey-color;
        }

        .navbar-language {
            .active {
                color: white;
            }
        }

        @media (max-width: 992px) { 
            width: 100%;
        }
    }

    .navbar-brand-more {
        font-size: 38px;

        &:before,  &:after {
            content: "";
            background-image: url(../img/slash.svg);
            display: inline-block;
            width: 21px;
            height: 46px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }

        &:after {
            background-image: url(../img/symbol.svg);
            width: 41px;
        }

        @media (max-width: 992px) {
            font-size: 19px;        
            
            &:before,  &:after {
                height: 24px;
            }

            &:before {
                width: 10px;
            }
        }

        @media (max-width: 230px) { 
            display: block;
            font-size: 16px; 
            margin-top: 8px;
        }
    }
}