$red-color: #F0145A;
$red-light-color: #EF8080;
$white-color: #E6E6F0;
$grey-color: #B3B3BA;
$grey-btn-color: #F5F5FA;
$main-regular-color: #323264;
$dark-regular-color: #46466E;
$indicators-blue-color: #24A3FF;