@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "fonts";

body {
    font-family: 'TT Norms', sans-serif;
    hyphens: auto;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;

    &-container {
        flex-grow: 1;
    }
}

a {
    text-decoration: none;
}

.intro-sect {
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    padding: 180px 0;  
}

.carousel {
    margin: 40px 0 80px;

    &-indicators {
        bottom: -60px;

        [data-bs-target] {
            background-color: $indicators-blue-color;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 7px;
        }
    }
}

.home-carousel {
    .carousel-item {
        background-color: $grey-btn-color;
        border-radius: 12px;
        padding-right: 40px;

        @media (max-width: 767px) {
            padding: 20px;
        }

        @media (max-width: 150px) {
            padding: 20px;
        }

        &-photo {
            padding-right: 40px;

            @media (max-width: 767px) {
                display: none
            }
        }

        .upper-text {
            margin: 40px 0 3px;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.5px;
            letter-spacing: 1px;
            color: $indicators-blue-color;
            text-transform: uppercase;

            &:hover {
                color: darken($color: $indicators-blue-color, $amount: 10%);
            }

            @media (max-width: 767px) {
                margin-top: 0;
            }

            &:after {
                content: "";
                background-image: url(../img/team-link.svg);
                width: 5px;
                height: 9px;
                margin-left: 5px;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .section-heading {
            font-size: 42px;
            line-height: 50px;
            font-weight: bold;
            color: $red-color;
            background-image: linear-gradient(90.13deg, $red-color 0.84%, $red-light-color 99.96%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: transparent;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            margin-bottom: 20px;
            @include fluid-type(32px, 42px);
            @include fluid-line-height(38px, 50px);
        }

        .carousel-team-info {
            display: flex;
            align-items: center;
        }

        &-photo-small {
            display: none;

            @media (max-width: 767px) {
                display: block;
                margin-right: 10px;
            }
        }

        .carousel-info {
            &-name {
                color: $grey-color;
                margin-bottom: 5px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;

                @media (max-width: 767px) {
                    font-weight: 500;
                }
            }

            &-role {
                color: $grey-color;
                font-size: 16px;
                line-height: 22px;

                @media (max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 130px) {
        display: none;
    }
}

.clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
        width: 100%;
    }

    @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}