@import "mixins";
@import "variables";
@import "fonts";

* {
    box-sizing: border-box;
}

.team {
    &-header {
        font-family: 'TT Norms', sans-serif;
        font-size: 42px;
        line-height: 50px;
        font-weight: bold;
        margin: 197px auto 40px;
        max-width: 900px;
        color: $red-color;
        background-image: linear-gradient(90.13deg, $red-color 0.84%, $red-light-color 99.96%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: transparent;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        @include fluid-type(32px, 42px);
        @include fluid-line-height(38px, 50px);
       
        @media (max-width: 992px) {
            margin: 125px 20px 0;
        }
    
        @media (max-width: 280px) {
            font-size: 15px;
            line-height: 25px;
        }
    }

    &-member {

        &-item {
            margin-top: 40px;
            max-width: fit-content;

            @media (max-width: 992px) {
                max-width: 680px;
                display: flex;
                flex-direction: row;
                margin-top: 20px;
            }
        }

        &-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 413px;
            margin-top: 20px;
           

            @media (max-width: 992px) {
                flex-direction: column;
                justify-content: end;
                align-items: flex-start;
                margin-top: 20px;
                margin-left: 20px;
            }
        }

        &-name {
            font-family: 'TT Norms', sans-serif;
            font-size: 18px;
            line-height: 21px;
            text-align: left;
            color: $main-regular-color;
            margin-top: 0;
            margin-bottom: 5px;
        }

        &-position {
            font-family: 'TT Norms', sans-serif;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            color: $grey-color;
        }

        &-btn {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: url(../img/vector-icon.svg) center center/27% no-repeat;
            background-color: $grey-btn-color;
        }

        &-link {
            @media (max-width: 992px) {
                margin-top: 10px;
            }
        }
    }
}

.row-team {
    margin-bottom: 60px;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }
}